<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log}/urn-frontend/root.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyyMMdd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd-HHmmss.SSS} %-5p [%t] [%x] [%c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="async" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="4096"/>
		<param name="blocking" value="false"/>
		<param name="LocationInfo" value="false"/>
		<appender-ref ref="file"/>
	</appender>
	
	<root>
		<priority value="debug"/>
		<appender-ref ref="async"/>
	</root>

</log4j:configuration>
